<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agendamento</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="../public/images/logo.png"
            alt="Logo"
            width="30"
            class="d-inline-block align-text-top"
          />
          Agendamento
        <a type="button" class="btn btn-primary" href="/calendar"
        >Acesse o calendário</a
      >
      </div>
    </nav>
    <div>
      <p><h3>Agendamento</h3><h2>Uma agenda coletiva para englobar toda sua empresa</h2>Faça reserva de salas para tal dia e tal horário, ou até marque reuniões que queira que todos saibam</p>
      <img
        src="../public/images/cimagem.jpg"
        style="opacity: 0.5; float: right; position: relative"
      />
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
